name: eslint-config-tignum

on:
  push:
    branches:
      - "main"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 16
          registry-url: https://npm.pkg.github.com/
          scope: "@tignum"
      - name: Configure committer
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<engineering@tignum.com>"
      - run: echo "registry=https://npm.pkg.github.com/@tignum" >> .npmrc
      - run: npm run publish-pkg
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
